<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">最专业的羽毛球运动装备</h1>
       <p class="slogan">极致体验
       </p>
       <p class="lead">
         <%= link_to '点击购买', products_path, class: 'btn btn-success btn-lg' %>
       </p>
     </div>
   </div>
 </div>



  <div class="container-fluid text-center bg-grey">
  <h2>最新款</h2>

  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg9b650ec8j318w0x8qv5.jpg" alt="Paris">
        <p><strong>李宗伟限量珍藏纪念版礼盒套装</strong></p>
        <p>3988 CNY</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fg9b9iz7u1j30ku0lrad6.jpg" alt="New York">
        <p><strong>YONEX 林丹奥运限量纪念款VTLD-F礼盒装</strong></p>
        <p>2988 CNY</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1fg9bboytk8j30nm0k5ad8.jpg" alt="San Francisco">
        <p><strong>LINING 里约奥运张楠傅海峰夺冠拍 N7 N9 第二代</strong></p>
        <p>1388 CNY</p>
      </div>
    </div>
</div>




<h2>客户评价</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>"官网验证真品，品质、性能超一流 !"<br><span style="font-style:normal;">----羽毛球狂热爱好者</span></h4>

  </div>
