/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .box {
     background-image: url("https://ws2.sinaimg.cn/large/006tNc79gy1fg9fae5vxoj31kw0yyhdt.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 10px;
     margin-top: -20px;


     .box-inner {
         padding-bottom: 10px;
         margin-top: 150px;
         margin-bottom: 150px;
     }

     .title {
         text-align: center;
         margin-bottom: 10px;
         color: #FF9933;
     }

     .slogan {
         color: #FF9933;
         margin-top: 30px;
         margin-bottom: 70px;
         text-align: center;
         font-size: 35px;
         top: 22px;
     }

     .lead {
         margin-bottom: 110px;
         text-align: center;
         color: white;
     }
 }
